################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/code/.vs/Sample
/src/code/**/bin
/src/code/**/obj
/src/ApiDestinationPOC/**/obj
/src/ApiDestinationPOC/**/bin
/src/ApiDestinationPOC/.vs
/src/starter-code/**/obj
/src/starter-code/**/bin
/src/starter-code/.vs
/src/**/.vs
